<h1><%= markdown_to_html @wiki.title %></h1>
<p><%= markdown_to_html @wiki.body %></p>
<p><%= @wiki.private ? "Private" : "Public" %></p>
<%= link_to "Edit", edit_user_wiki_path(@wiki.user_id, @wiki), class: "btn btn-success" %>
<%= link_to "Delete", user_wiki_path(@wiki.user_id, @wiki), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?'} %>